<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Profile">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px" radius="50%">
    <a href="#/tab/map">Map</a>
    <div id="users">
      Users are {{users}}
    </div>
    <div class="row">
       <div class="col-1"> <img class="gallerypix" ng-src="{{chat.pic}}"></div>
       <div class="col-2"><img class="gallerypix" ng-src="{{chat.pic}}"></div>
       <div class="col-3"><img class="gallerypix" ng-src="{{chat.pic}}"></div>
    </div> 

    <div class="row">
       <div class="col-1"> <img class="gallerypix" ng-src="{{chat.pic}}"></div>
       <div class="col-2"><img class="gallerypix" ng-src="{{chat.pic}}"></div>
       <div class="col-3"><img class="gallerypix" ng-src="{{chat.pic}}"></div>
    </div>  

    <div class="row">
       <div class="col-1"> <img class="gallerypix" ng-src="{{chat.pic}}"></div>
       <div class="col-2"><img class="gallerypix" ng-src="{{chat.pic}}"></div>
       <div class="col-3"><img class="gallerypix" ng-src="{{chat.pic}}"></div>
    </div>        



  </ion-content>
</ion-view>
